pip
jupyter
notebook
ipykernel
dotenv
langchain_openai
langchain_community
langchain
faiss-cpu
rank_bm25

html2text
wikipedia
# 9781633435919
nltk

chromadb
langchain-chroma

docx2txt
pypdf
unstructured

scikit-learn

pinecone